#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 700px) {
  .card-image {
    width: 70px;
    height: 40px;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dev-login {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

.dev-button{
  background-color: blue;
  color: white;
  margin: 10px 10px 10px 10px;
}

.dev-game-card{
  border: 1px solid white;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  color:white
}

.fadein {
  animation: fadeInOut 2s linear 1 forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}